.hero{
    position: relative;
    height: 940px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-color: #dad;
    background-image: url(../../assets/img/bg/hero-position-img.webp),
    url(../../assets/img/others/daily_speedpaint_90___haunted_house_by_daisanvisart_daxacx0-fullview.jpg);
    background-size: 50px, auto;
}