@import url('https://fonts.googleapis.com/css2?family=Exo&family=Metal+Mania&display=swap');
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';

:root{
  --primary-700:#09002A;
  --primary-600: #281e4d;

  --neutral-100: #fff;

  --card-h: 300px;

  --font-clr: var(--neutral-100);
}
body{
  text-align: center;
  background-color: var(--primary-700);
  font-family: Exo, cursive;
  color: var(--font-clr);
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: var(--font-clr);
}
li{
  list-style: none;
}

.btn{
  
  position: relative;
  display: block;
    line-height: 73px;
    min-height: 83px;
    width: 330px;
    padding: 0 15px;
    background-image: url(./assets/img/others/btn-bg.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9;
    
    //border: #ddd 20px solid;
    font-size: 23px;
    font-weight: 700;
    
}

